.home-container{
  margin-top: 42px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 42px;
}

.home-content{
 
  padding-top: 110px;
  padding-bottom: 150px;
}

.text-title{
  margin-top: 250px;
  margin-left: 100px;
  width: 565px;
  height: 150px;
  left: 140px;
  top: 265px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 75px;
  letter-spacing: -0.015em;
  color: #263238;
  mix-blend-mode: normal;
}


.text-subtitle{
margin-top: 26px;
margin-left: 100px;
margin-bottom: 150px;
width: 516px;
height: 78px;
left: 140px;
top: 441px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
letter-spacing: -0.015em;

color: #9E9E9E;

}


.main-image {
margin-top: 150px;
width: 100%;
height: 481.2px;
left: 500px;
top: 350px;

}